@* @model List<Pokemon> *@
@model IEnumerable<Pokemon>
@using API.Models.Entities;

<html>
    <head>
        <title>List Of Users</title>
    </head>
    <body>
        
        @{
            int i = 1;
        }    

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Height</th>
                    <th scope="col">Attack</th>
                    <th scope="col">Defense</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pokemon in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@pokemon.Name</td>
                        <td>@pokemon.Type</td>
                        <td>@pokemon.Description</td>
                        <td>@pokemon.Height</td>
                        <td>@pokemon.Attack</td>
                        <td>@pokemon.Defense</td>
                        <td>@pokemon.Weight</td>
                    </tr>
                    i = i + 1;
                }
            </tbody>
        </table>
        @* <a asp-action="Dashboard"> Back to Dashboard </a> *@
    </body>
</html>
